<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista de Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="requests$ | async as requests">
    <ng-container *ngIf="requests.length > 0; else noRequests">
      <app-request-item
        *ngFor="let request of requests"
        [request]="request"
        (update)="onUpdate($event)"
      ></app-request-item>
    </ng-container>
    <ng-template #noRequests>
      <ion-item lines="none">Nenhum Pedido Cadastrado...</ion-item>
    </ng-template>
  </ion-list>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button
      routerLink="/requests/create"
      routerDirection="forward"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
